<% unless notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="pull-right" role="group">
    <%= link_to 'New Task', new_task_path, class: "btn btn-success btn-lg active"  %>
  </div>
</div>
<div class="row">
  <div class="panel panel-warning">
    <div class="panel-heading">Pendent tasks</div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th colspan="3">Actions</th>
        </tr>
        
        <% @tasks.each do |task| %>
        <tr>
          <td><%= task.tilte %></td>
          <td><%= task.description %></td>
          <td><%= task.status %></td>
          <td><%= link_to 'Show', task, class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-warning btn-sm' %></td>
          <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel panel-success">
    <div class="panel-heading">Completed tasks</div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Status</th>
          <th colspan="3">Actions</th>
        </tr>
        
        <% @finished_tasks.each do |finished_task| %>
        <tr>
          <td><%= finished_task.tilte %></td>
          <td><%= finished_task.description %></td>
          <td><%= finished_task.status %></td>
          <td><%= link_to 'Show', finished_task, class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to 'Edit', edit_task_path(finished_task), class: 'btn btn-warning btn-sm' %></td>
          <td><%= link_to 'Destroy', finished_task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>