<p>
  <strong>Tilte:</strong>
  <%= @task.tilte %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<% @comments.each do |task| %>
  <div class="task row" data-task-id="<%= task.id %>">
    <div class="col-xs-3">
      <%= task.content %>
    </div>  
  </div>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>