<p>
  <strong>Tilte:</strong>
  <%= @task.tilte %>
</p>
<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<div class="btn-group">  
  <%= link_to 'Back', tasks_path, class: 'btn btn-info btn-xs' %>
  <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-warning btn-xs' %>
</div>
<br>

<div class="container thumbnail col-xs-5">  
  <%= form_for(@comment, url: create_comment_path) do |f| %>
    content: <%= f.text_field :content %>
    <%= f.hidden_field(:commentable_id, :value => @task.id) %>
    <%= f.hidden_field(:commentable_type, :value => "Task")%>
    <%= f.submit "Send comment" %>
  <% end %>

  <% @comments.each do |task| %>
    <div class="task row" data-task-id="<%= task.id %>">
      <div class="col-xs-3">
        <%= task.content %>
      </div>  
    </div>
  <% end %>
</div>