<p id="notice"><%= notice %></p>

<p>
  <strong>Lesson number:</strong>
  <%= @lesson.lesson_number %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @offer.year %>.<%= @offer.semester %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Materials:</strong>
</p>
  
  <div class="row">
    <div class="col-xs-8">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Description</th>
            <th>File</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @lesson.material.description %></td>
            <td><%= link_to 'Download', @lesson.material.file.url, download: true, class: 'btn btn-default btn-sm' %></td>
            <td><%= link_to 'Show', @lesson.material, class: 'btn btn-success btn-sm' %></td>
          </tr>
      </table>
    </div>
  </div>
 

<%= link_to 'Edit', edit_lesson_path(@lesson), class: 'btn btn-warning' %> 
<%= link_to 'Back', lessons_path, class: 'btn btn-info' %> 
<%= link_to 'Destroy', @lesson, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
