<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @offer.year %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @offer.semester %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
